<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sam_boncel.kalkulatorgizi">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity"
            android:theme="@style/AppTheme.CustomeTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="Beranda"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".BaseActivity" />
        <activity
            android:name=".RegisterActivity"
            android:label="Registrasi" />
        <activity
            android:name=".FoodActivity"
            android:label="Makanan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DetailMakananActivity"
            android:theme="@style/AppTheme.CustomeTheme" />
        <activity
            android:name=".DetailOlahragaActivity"
            android:label="Detail Olahraga"
            android:theme="@style/AppTheme.CustomeTheme" />
        <activity android:name=".PilihMakananActivity" />
        <activity android:name=".SetOlahragaActivity"
            android:theme="@style/AppTheme.CustomeTheme"></activity>
    </application>

</manifest>